* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffa500;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    color: whitesmoke;
    width: 300px;
    height: 100px;
    border: 2px solid #00b0a6;
    font-size: 35px;
    border-radius: 15px;
    transition: 0.6s;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.btn::after {
    content: "";
    position: absolute;
    display: block;
    left: 30px;
    top: 0;
    width:30px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

.btn:hover {
    background-color: #00b0a6;
}

.btn:hover::before, .btn:hover::after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: 0.65s;
}

.btn:hover::after {
    opacity: 4;
}